html {
    background-color: rgba(142, 180, 168, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(207, 209, 241);
    overflow: auto;
    overflow: hidden;
}


.image {
    position: relative;
}

.franck {
    border: 1px solid rgb(193, 190, 241);
    border-radius: 50%;
    width: 15em;
    position: relative;
    top: 17em;
    left: 2.5em;
}

.fond {
    width: 25%;
    height: 10%;
    padding: 0.5em;
    border-radius: 10px;
    margin-left: -1.5em;
    margin-top: 8em;
    text-align: center;
}

.contains {
    flex-direction: column;
    align-items: flex-end;
    padding: 3em;
}

.dfn {
    color: rgb(255, 255, 255);
    text-align: right;
    font-weight: 500;
    margin-top: 1em;
    width: 42em;
    padding: 1em;
    border: 1px solid rgb(189, 199, 233);
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    margin-bottom: 15em;
}

.titre {
    align-self: center;
    font-size: 3em;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.317);
    color: rgb(189, 198, 228);
    padding: 0.5em;
    border: 1px solid rgb(152, 163, 223);
    border-radius: 80px;
    text-align: center;
    word-spacing: 0.5em;
}

em {
    font-weight: 700;
}

nav {
    display: flex;
    height: 40em;
    justify-content: space-between;
}

body {
    background-image: url(../img/fond_index.jpg);
    background-size: cover;
    width: 80%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
    height: 50em;
    border: 1px solid rgb(243, 218, 203);
    border-radius: 10px;
}

h1 {
    color: rgb(115, 136, 228);
    font-weight: 700;
    padding-left: 1em;
    opacity: none;
    float: left;
}

header {
    height: 100%;
}

a {
    color: aqua;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: rgb(239, 205, 191);
}

a:focus {
    text-decoration: overline;
    text-decoration: underline;
}

a:visited {
    color: black;
}

footer {
    margin-left: 5em;
    margin-top: 1em;
    color: rgb(237, 202, 185);
}

ul {
    list-style: none;
    margin-top: -17em;
    padding: 1em;
    background-color: rgba(183, 195, 228, 0.19);
    border-radius: 10px;
    color: aqua;
}

li {
    display: inline;
    padding: 1em;

}